@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Inter', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
    background-color: rgb(245 245 245 / 0.6);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    transition-property: background-color;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.tr-off {
    transition: none !important;
}

/* https://stackoverflow.com/a/45890842 */
button, input {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    outline: inherit;
}

#card {
    background: white;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    border: solid #e5e5e5 0.5px;
    height: 24rem;
    width: 28rem;
    border-radius: 1rem;
    padding: 2rem;
    transition-property: border-color, background-color, box-shadow;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

#card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#card-header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#card-header-text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#card-header-text > h2, #card-header-text > p {
    transition-property: color;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

#icon {
    transition-property: color;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 4px;
    margin-left: -6px;
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}

.font-semibold {
    font-weight: 600;
}

.transition-all {
    transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to, opacity, box-shadow, transform, translate, scale, rotate, filter, -webkit-backdrop-filter, backdrop-filter, display, content-visibility, overlay, pointer-events;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

#password-form {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    width: 100%;
}

#password-status-text {
    margin-left: 0.5rem;
    font-size: small;
    transition-property: color, opacity;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    color: red;
}

#password-fields {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    width: 100%;
}

.password-field {
    background-color: #f0f0f0;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    border-radius: 0.75rem;
    border-color: rgb(210 210 210);
    border-width: 0.5px;
    border-style: solid;
    transition-property: border-color, background-color, border-width;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hidden {
    opacity: 0;
}

.password-invalid {
    border-color: red !important;
    border-width: 1px !important;
}

.password-status-text-valid {
    color: green !important;
}

@media (prefers-color-scheme: dark) {
    html, body {
        background-color: rgb(24 24 27);
        color: white;
    }

    #card {
        background: rgb(39 39 42);
        box-shadow: 0 1px 3px 0 #090909, 0 1px 2px -1px #090909;
        border: solid #404040 0.5px;
    }

    .password-field {
        background-color: #3f3f46;
        border-width: 1px !important;
        border-color: rgb(83, 83, 102);
    }
}
